.upload-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2rem;
  background: #f9f8f4;
  text-align: center;
}

::ng-deep .p-fileupload-choose {
  background-color: #43a047 !important;
  color: #fff !important;
  border-radius: 50% !important;
  width: 90px;
  height: 90px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
