/* You can add global styles to this file, and also import other style files */
/* src/styles.scss */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
    margin: 0;
}

/* Padronizar inputs PrimeNG */
.p-inputtext {
  border-radius: 10px !important;
  background-color: #eef3e0 !important;
  border: 1px solid #c7d7ad !important;
}

.p-button {
  border-radius: 8px !important;
  text-transform: lowercase !important;
}
