<div class="login-screen">
  <div class="form-card">
    <h2 class="sr-only">Tela de Login Aluno</h2>

    <div class="field">
      <label for="username">Email</label>
      <input pInputText id="username" type="email" placeholder="email@gmail.com" />
    </div>

    <div class="field">
      <label for="password">Senha</label>
      <input pInputText id="password" type="password" placeholder="********" />
    </div>

    <button pButton label="login" class="full-btn p-button-rounded"></button>

    <a class="forgot" href="javascript:void(0)">esqueceu sua senha?</a>
  </div>
</div>
